/*
Colors:

Primary Color (White): #FFFFFF;
Secondary Color (light grey): #F9F9F9;
Highlight Color (orange): #F08643
*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #1a1b1f;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 4px 12px 0px rgba(114, 77, 79, 0.45);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 133px;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  font-size: 2.625em;
  /*42px divided by 16*/
  line-height: 1.38em;
  /*58 divided by 42*/
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  /*28px divided by 16*/
  line-height: 2.21em;
  /*62 divided by 28*/
}


h3 {
  color: #f16e55;
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  color: #1a1b1f;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
}

img.logo {
  width: 180px;
  height: 100px;
}

img.social {
  width: 32px;
  height: 32px;
}

img.profile {
  width: 400px;
  height: 600px;
}

a {
  color: #f16e55;
  text-decoration: none;
}

a:visited {
  color: #f16e55;
}

a:hover,
a:focus {
  color: #1a1b1f;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #a3a3a3;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1a1b1f;
}

nav>ul>li>a:visited {
  color: inherit;
}

nav>ul>li>a:hover {
  color: #f16e55;
}

.button {
  display: inline-block;
  background-color: #fcdfd9;
  color: #f16e55;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover, .button:active {
  opacity: 0.8;
  background-color: #f16e55;
  color: #fcdfd9;
  text-decoration: none;
}

.button.contact {
  color: #fcdfd9;
  background-color: #e86f48;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
}

.button.contact:hover, .button.contact:active {
  background-color: #e86f48;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
}

#hero h1 {
  text-align: center;
}

/* Layout styling */
.container {
  padding: 0 16px;
}

.center {
  text-align: center;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
