/*
Colors:

Primary Color (White): #FFFFFF;
Secondary Color (light grey): #F9F9F9;
Highlight Color (orange): #F08643
*/
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #1a1b1f;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

body.is-menu-open {
  overflow: hidden;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 133px;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;

  /* 42px divided by 16 */
  font-size: 2.625em;

  /* 58 divided by 42 */
  line-height: 1.38em;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;

  /* 28px divided by 16 */
  font-size: 1.75em;

  /* 62 divided by 28 */
  line-height: 2.21em;
}

h3 {
  color: #f16e55;
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  color: #1a1b1f;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  width: 100%;
}

img.social {
  width: 32px;
  height: 32px;
}

img.profile {
  width: 400px;
  height: 600px;
}

img.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #f16e55;
  text-decoration: none;
}

a:visited {
  color: #f16e55;
}

a:hover,
a:focus {
  color: #1a1b1f;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #a3a3a3;
}

a.logo {
  width: 180px;
  height: 100px;
  color: #1a1b1f;
  display: flex;
  align-items: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 500;
  color: #1a1b1f;
}

nav > ul > li > a:visited {
  color: inherit;
}

nav > ul > li > a:hover {
  color: #f16e55;
}

.button {
  display: inline-block;
  background-color: #fcdfd9;
  color: #f16e55;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: all 0.2s linear;
}

.button:hover,
.button:active {
  background-color: #f16e55;
  color: #fcdfd9;
  text-decoration: none;
}

.button.contact {
  color: #fcdfd9;
  background-color: #e86f48;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
}

.button.contact:hover,
.button.contact:active {
  background-color: #e86f48;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
}

#hero h1 {
  text-align: center;
}

/* Layout styling */
.container {
  padding: 0 16px;
}

.center {
  text-align: center;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.mobile-navigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  align-items: center;
  justify-content: center;
  display: none;
}

.mobile-navigation.is-open {
  display: flex;
}

.mobile-navigation nav ul {
  font-size: 2em;
  line-height: 1.7;
}

.mobile-navigation nav ul li {
  display: block;
  text-align: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .menu {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(241, 110, 85, 0.1);
  display: block;
  position: absolute;
  right: 16px;
  top: 39px;
  cursor: pointer;
}

header .container .menu .icon {
  position: relative;
  top: 9px;
}

header .container .menu .lines {
  position: absolute;
  opacity: 1;
}

header .container .menu .close {
  position: absolute;
  opacity: 0;
}

header .container .menu.is-open .lines {
  opacity: 0;
}

header .container .menu.is-open .close {
  opacity: 1;
}

header nav {
  display: none;
}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 44s cloud-move-reverse infinite alternate ease-in-out;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header .container .menu {
    display: none;
  }

  header nav {
    display: block;
  }

  body {
    font-size: 18px;
  }

  .container {
    padding: 0 24px;
    max-width: 728px;
    margin: 0 auto;
  }

  .row .content {
    display: flex;
    gap: 20px;
  }

  .col-md-6 {
    width: 50%;
  }

  img.profile {
    width: 100%;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 952px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
